* {
    box-sizing: border-box;
  }

  html, body {
    color: #404040;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    background-color: #ffffff;
  }

  h4, h5, h6, body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
    }

  #topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  #topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  #topnav a:hover {
    background-color: #2196F3;
    color: white;
  }
  
  .active {
    background-color: #1976D2;
    color: white;
  }

  h1, h2, h3, h4, h5, h6 {
    text-align: center;
  }

  h1 {
    font-size: 50px; 
    margin-top: 65px;
    font-weight: bold;
  }

  h2 {
    font-size: 35px;
    font-weight: bold;
  }

  #about {
    display: block;
  }

  .profile-pic {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .about-me {
    padding-left: 30px;
    padding-right: 30px;
  }

  h3 {
    font-size: 30px;
    font-weight: bold;
  }
  
  h4, h5, h6 {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 15px;
    font-weight: bold;
  }

  .skills {
    margin-top: 60px;
  }

  hr {
    width: 80%;
  }

  .bottom-line {
    margin-bottom: 20px;
  }
  
  .row {
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto 40px auto;
  }
  
  .row::before,
  .row::after {
    display: table;
    content: '';
  }
  
  .row::after {
    clear: both;
  }

  .skill-img {
    height: 150px;
    width: 150px;
  }

  .split {
    width: 50%;
    float: left;
    text-align: right;
  }

  ul {
    margin-top: 32px;
  }

  .skill-list {
    text-align: left;
  }

  .front-end {
    max-width: 130px;
  }

  .travel-BankEx-img, .wine-select-img, .deal-hacker-img {
    width: 360px;
    padding: 20px;
    border: 1px #d9d9d9;
    border-radius: 22px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .col-4,.col-8 {
    height: 200px;
    width: 100%;
  }

  .col-8 {
    height: 300px;
  }

  .project-title {
    font-size: 25px;
    font-weight: bold;
  }

  .capstone-languages {
    text-align: center;
  }

  button[type="button"] {
    width: 70px;
    height: 30px;
    padding: 2px;
    background-color: #1976D2;
    color: #F8F8FF;
    border: 0.5px;
    border-radius: 3px;
    text-align: center;
    margin: 5px 5px 2px 5px;
    cursor: pointer;
  }

  button[type="button"]:hover,
  button[type="button"]:focus {
    background-color: #2196F3;
    -webkit-transition: background 0.1s;
    -moz-transition: background 0.1s;
    -o-transition: background 0.1s;
    transition: background 0.1s;
    outline: none;
  }

  .view-project-buttons {
    text-align: center;
  }

  .contact-me-info {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 50px;
  }

  .contact-info-center {
    display: block;
    text-align: center;
  }

  .contact-connect-me {
    height: 50px;
    width: 50px;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
  }

  .contact-connect-me-email {
    height: 50px;
    width: 60px;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
  }

  a {
    border: 0;
    text-decoration: none;
  }

  @media only screen and (min-width: 320px) {
    .travel-BankEx-img, .wine-select-img, .deal-hacker-img {
        width: 270px;
        border-radius: 0px;
        padding: 0px;
    }
  }

  @media only screen and (min-width: 360px) {
    .travel-BankEx-img, .wine-select-img, .deal-hacker-img {
        width: 320px;
    }

    .skill-img {
        margin-right: 0;
        margin-left: 0;
    }
  }

  @media only screen and (min-width: 411px) {
    .travel-BankEx-img, .wine-select-img, .deal-hacker-img {
        width: 340px;
    }
  }

  @media only screen and (min-width: 500px) {
    .skill-img {
        margin-right: 20px;
        margin-left: 20px;
    }
    
    .travel-BankEx-img, .wine-select-img, .deal-hacker-img {
        width: 400px;
    }
  }

  @media only screen and (min-width: 640px) {
    .travel-BankEx-img, .wine-select-img, .deal-hacker-img {
        width: 550px;
    }
  }

  @media only screen and (min-width: 768px) {
    .travel-BankEx-img, .wine-select-img, .deal-hacker-img {
        width: 700px;
    }
  }

  @media only screen and (min-width: 950px) {
    .skill-img {
        margin-right: 10px;
        margin-left: 10px;
    }

    .col-4, .col-8 {
        float: left;
      
        /* Gutters:
         * Each column is padded by half-a-gutter on each side,
         *
         * Half a gutter is 10px, 10/960 (context) = 1.041666%
         *
         */
        padding-left: 1.04166666%;
        padding-right: 1.04166666%;
      }

    .col-4 {
        width: 33.33%;
    }

    .col-4-project-image-container {
        width: 400px;
        float: left;
    }

    .col-8 {
        max-width: calc(100% - 400px);
    }

    .travel-BankEx-img, .wine-select-img, .deal-hacker-img {
        width: 360px;
        padding: 20px;
    }

    .about-me {
        padding-left: auto;
        padding-right: auto;
        text-align: center;
    }
  }

  @media only screen and (min-width: 1024px) {
    .travel-BankEx-img, .wine-select-img, .deal-hacker-img {
        width: 400px;
        padding: 20px;
    }
    .project-description {
        margin-left: 15px;
    }
  }

  